<% content_for :title do %>Melinda Sztankovits<% end %>
<% content_for :description do %>Website of Melinda Sztankovits<% end %>
<h1> Recycled accessories </h1>
<section>
<!--<img id="homepic" src="http://www.greatgreengoods.com/wp-content/uploads/2009/08/urbanjunglenecklace.jpg"> -->
<img id="homepic" src="assets/banner.png">
</section>
<p>On this site you will find many awesome recycled accessories which are perfect for any girls who like style, creativity and unique pieces. </p>
<p>You can also upload your pictures if you want, so everybody can see it. :) </p>
<p> If you want to be informed about the latest posts and new ideas, you can sign up for the Newsletter. </p>
<section>
<div class="column">
<h2>Stay in touch.</h2>
</div>
<div class="column">
<div class="form-centered">
<%= simple_form_for @visitor do |f| %>
<%= f.error_notification %>
<%= f.input :email, label: false, :placeholder => 'Your email address...' %>
<br/>
<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
<% end %>
</div>
</div>
</section>



